html {
    scroll-behavior: smooth;
}

body {
    /* background-image: url('../img/memphis-mini.png');
    background-size: 200px 200px; */
    font-family: 'Poppins', sans-serif;
    @apply text-gray-900;
}

.text-subtle-dark {
    @apply text-gray-900;
}

.underlined-graphic {
    position: relative;
}

.underlined-graphic:after {
    content: url('../img/underline.svg');
    position: absolute;
    top: 3.45rem;
    left: 1rem;
    background-origin: border-box;
    overflow: auto;
}

.container-slim {
    @apply w-3/4 md:max-w-7xl mx-auto;
}

.w-padded {
    @apply w-3/4 mx-auto mt-12;
}

.w-x-padded {
    @apply w-1/2 mx-auto mt-12;
}

.input-group {
    @apply py-2;
}

.modal-overlay {
    background-color: rgba(17, 24, 39, .8);
}

.modal {
    @apply w-4/5 lg:w-1/2 p-5 lg:p-10 rounded-xl bg-gray-100 mx-auto mt-24;
}

.step-number {
    @apply flex items-center justify-center p-5 w-5 h-5 border-4 border-brand rounded-full font-bold text-base md:text-xl;
}

.brand-input {
    @apply py-2 px-3 md:py-3 md:px-5 rounded-lg border-brand border-2;
}

.brand-input-mobile {
    @apply py-2 px-3 rounded-lg border-brand border-2;
}